@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* background image https://kovart.github.io/dashed-border-generator/ */
:root {
	--dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='5%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
	--dashed-border-white: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='1' stroke-dasharray='5%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

body {
	font-family: 'GeistMono';
}

.dashed-border {
	background-image: var(--dashed-border);
}

.code-block {
	background-color: #1e1e1e;
	color: #d4d4d4;
	padding: 1rem;
	border-radius: 8px;
	font-size: 0.95rem;
	/* line-height: 1.5; */
	overflow-x: auto;
	/* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25); */
}

@font-face {
	font-family: 'GeistMono';
	src:
		url('./lib/assets/fonts/GeistMono/GeistMonoVariableVF.woff2') format('woff2'),
		url('./lib/assets/fonts/GeistMono/GeistMonoVariableVF.ttf') format('truetype');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

*/ .material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;
}
