@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

/* background image https://kovart.github.io/dashed-border-generator/ */
:root {
	--dashed-border: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='5%2c 6' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

body {
	font-family: 'GeistMono';
}

.dashed-border {
	background-image: var(--dashed-border);
}

@font-face {
	font-family: 'GeistMono';
	src: url('./lib/assets/fonts/GeistMono/GeistMonoVariableVF.ttf');
}
